.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;

}

h1 {
    flex: 0 1 450px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 45px;
    font-family: sans-serif;
    margin: 0;
    padding-top: 20px;
    padding-left: 10px;
}

.game-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -20px;
}

input {
    width: 80px;
    height: 80px;
    background-color: lightgray;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin: 5px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 575px;
}

button {
    width: 75px;
    height: 70px;
    background-color: lightgray;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin: 5px;
}